/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 50%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}

blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 15px;
}

/* Set every element's box-sizing to border-box */


.container {
	text-align: center;
	width: 1100px;
	margin: 0 auto;
	
}

header{
	/*width: 90%;*/
	height: 80px;
	width: 90%;
	padding-top: 30px;
	padding-top: 50px 50px 20px 10px;;
	position: fixed;
	top: 0px;
	left: 0px;
	background-color: #B2CAD4;
	z-index: 1;
}

nav {
	display: inline-block;
	margin: 0px 20px;
	width: 75%;
}

nav a {
	text-decoration: none;
	color: rgb(173, 172, 173);
	padding: 0px 30px;
	
}

nav a:hover {
	color: aqua;
}
.logo {
	display: inline-block;
	width: 200px;
}

.top-content {
	border-bottom: 2px dashed black;
	margin: 40px;
	margin: 100px 40px 40px 40px;
	height: 500px;
	display: block;
	text-align: center;
}

.top-content-text, .top-content img {
	display: inline-block;
	margin: 0px 50px;
	text-align:center;
}

.top-content-text {
	margin: 0 auto;
}

h1 {
	text-align: center;
	font-size: 70px;
	padding: 0px 20px;
}

.top-content-text a{
	text-align: center;
	text-decoration: none;
	color: rgb(173, 172, 173);
	border: 2px solid rgb(173, 172, 173);
	padding: 2px 40px; 
}
.top-content-text a:hover {
	background-color: rgb(49, 154, 254);
	transition: background 0.5s ease-in;
	color: yellowgreen;
}

.section-content {
	display: block;
}

.features, .about {
	display: inline-block;
	margin: 20px 20px 40px 20px;
	width: 45%;
}

h2 {
	font-size: 30px;
	text-align: left;
}

p {
	line-height: 1.4;
	font-size: 18px;
	text-align: left;
}

.middle-img {
	width: 95%;
	margin: 0 auto;
}
.third-content {
	border-bottom: 2px dashed black;
}

.services, .product, .vision {
	display: inline-block;
	width: 30%;
	margin: 30px 15px;
}

.bottom-content {
	margin: 40px ;
}

footer {
	padding: 100px ;
}